@model Models.Data
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.companies[@Model.id].name</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Legal Form</th>
        <th>Is Physical Person</th>
        <th>Headquarters</th>
        <th></th>
        <th>Branch</th>
        <th>Chair</th>
        <th>UBO</th>
    </tr>
    @foreach (var company in Model.companies) 
    {
        <tr>
            @{ 
                var link = "../Home/Details?id=" + @company.id; 
            }

            <td><a href="@link">@company.name</td>
            <td>@company.legalForm</td>
            <td>@company.isPhysicalPerson</td>
            <td>@company.headquarters</td>
            <td>@company.headquartersCountry</td>
            <td>@company.branch</td>
            <td>@company.chair</td>
            <td>@company.ubo</td>
        </tr>
    }
</table>
<a href="..">Back to list</a>
