@model List<Models.Company>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Firmy i ich właściciele</h1>
<h2><a asp-controller=Home asp-action=Add>Dodaj</a></h2>
<button class=linkcompany>Add an owner to a company</button>

<table class=main>
    <tr>
        <th class=first>Nazwa</th>
        <th>Adres</th>
        <th>Kapitał zakładowy</th>
        <th>Branża</th>
        <th>Prezes zarządu</th>
        <th>Beneficjent ostateczny</th>
        <th>Źródła</th>
        <th>Edytuj</th>
        <th class=toggle>Dodaj</th>
        <th class=toggle>Linked</th>
    </tr>
    @{ 
        int counter = 0; 
        string className = "";    
    }

    @foreach (Models.Company company in Model) 
    {
        className = counter++ % 2 == 0 ? "one" : "two";

        <tr class=@className>
            <td class=first>
                <a href=# class=owners data-id=@company.id>
                    @company.name @company.legalForm
                </a> @company.label
                    @if(@company.physical)
                    {    <i>Osoba Fizyczna</i>  }
            </td>
            
            <td>@company.address</td>
            <td>@company.capital.ToString("#,#") @company.currency</td>
            <td>@company.branch</td>
            <td>@company.chair</td>
            <td>@company.ubo</td>
            <td>
                @if (@company.sourceChair != "" && @company.sourceChair != null)
                {
                    string[] split = company.sourceChair.Split(';');

                    @for (int i=0; i<split.Length; i++)
                    {
                        <a href="@split[i]">[@i]</a>
                    } 
                }
            </td>
            <td><a asp-controller=Home asp-action=ModifyRecord  asp-route-id=@company.id>Edytuj   </a></td>
            <td class=toggle><button class=linkowner data-id=@company.id>Podlinkuj</button></td>
            <td class=toggle><input type=radio id=@company.id name=tobelinked value=@company.id></td>
        </tr>
    }
</table>

<button class=test>Test</button>


