@model List<Models.Company>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Firmy i ich właściciele</h1>
<h2><a href="../Home/Add">Dodaj</a></h2>
<table class=main>
    <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Kapitał zakładowy</th>
        <th>Branża</th>
        <th>Prezes zarządu</th>
        <th>Beneficjent ostateczny</th>
        <th>Źródła</th>
        <th>Edytuj</th>
        <th>Dodaj</th>
    </tr>
    @foreach (var company in Model) 
    {
        <tr>
            <td><button class=owners data-id=@company.id>@company.id</button></td>
            <td>
                @company.name @company.legalForm @company.label
                @if(@company.physical)
                {    <i>Osoba Fizyczna</i>  }
            </td>
            
            <td>@company.address</td>
            <td>@company.capital.ToString("#,#") @company.currency</td>
            <td>@company.branch</td>
            <td>@company.chair</td>
            <td>@company.ubo</td>
            <td>
                @if (@company.sourceChair != "" && @company.sourceChair != null)
                {
                    string[] split = company.sourceChair.Split(';');

                    @for (int i=0; i<split.Length; i++)
                    {
                        <a href="@split[i]">[@i]</a>
                    } 
                }
            </td>
            <td><a asp-controller="Home" asp-action="ModifyRecord"  asp-route-id="@company.id">Edytuj   </a></td>
            <td><a asp-controller="Home" asp-action="Connect"       asp-route-id="@company.id">Dodaj    </a></td>
            
        </tr>
        @*<tr><td colspan=5><p></p></td></tr>*@
    }
</table>


