@model List<Models.Company>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Firmy i ich właściciele</h1>
<h2><a href="../Home/Add">Dodaj</a></h2>
<table>
    <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Kapitał zakładowy</th>
        <th>Branża</th>
        <th>Prezes zarządu</th>
        <th>Beneficjent ostateczny</th>
        <th>Źródła</th>
        <th>Edytuj</th>
        <th>Dodaj</th>
    </tr>
    @foreach (var company in Model) 
    {
        <tr>
            @{
                var link = "../Home/Details?id=" + @company.id; 
            }
            <td>@company.id</td>
            <td>
                <a href="@link">@company.name @company.legalForm</a>
                @if(@company.label != "" && @company.label != null)
                {    
                     @company.label
                }
                @if(@company.physical)
                {    <i>Osoba Fizyczna</i>  }
            </td>
            
            <td>@company.address</td>
            <td>@company.capital.ToString("#,#") @company.currency</td>
            <td>@company.branch</td>
            <td>@company.chair</td>
            <td>@company.ubo</td>
            <td>
                @if (@company.sourceChair != "" && @company.sourceChair != null)
                {
                    string[] split = company.sourceChair.Split(';');

                    @for (int i=0; i<split.Length; i++)
                    {
                        <a href="@split[i]">[@i]</a>
                    } 
                }
            </td>
            <td><a href="../Home/ModifyRecord?id=@company.id">Edytuj</a></td>
            <td><a href="../Home/Connect?id=@company.id">Dodaj</a></td>
        </tr>
    }
</table>
