@model Models.Company
<form asp-controller="Home" asp-action="AddRecord" method="get">          
    <table>
                                             <input value="@Model.id"           asp-for="id" type="hidden">      
        <tr><td>Name:               </td><td><input value="@Model.name"         asp-for="name">         </td></tr>        
        <tr><td>Legal Form:         </td><td><input value="@Model.legalForm"    asp-for="legalForm">    </td></tr>   
        <tr><td>Label:              </td><td><input value="@Model.label"        asp-for="label">        </td></tr>
        <tr><td>IsPerson:           </td><td><input value="@Model.physical"     asp-for="physical">     </td></tr>
        <tr><td>address:            </td><td><input value="@Model.address"      asp-for="address">      </td></tr>
        <tr><td>Branch:             </td><td><input value="@Model.branch"       asp-for="branch">       </td></tr>
        <tr><td>Chair:              </td><td><input value="@Model.chair"        asp-for="chair">        </td></tr>
        <tr><td>Source:             </td><td><input value="@Model.sourceChair"  asp-for="sourceChair">  </td></tr>
        <tr><td>UBO:                </td><td><input value="@Model.ubo"          asp-for="ubo">          </td></tr>
        <tr><td>Kapitał zakładowy:  </td><td><input value="@Model.capital"      asp-for="capital">      </td></tr>
        <tr><td>Waluta:             </td><td><input value="@Model.currency"     asp-for="currency">     </td></tr>
                    
    </table>
    <input type="submit" value="Add">
</form>

<a asp-controller="Home" asp-action="Index">Back to list</a>